*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/*section barre de navigation*/

a{
    text-decoration: none;
    color: inherit;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.35); 
    background-color: white;
}
.logo-AS{
    margin-left: 18rem;
}
nav{
    margin-right: 20rem;
}
nav a{
    padding: 10px;
    cursor: pointer;
    font-size: 20px; 
    font-weight: bold;
    color: #195A6E;
    text-decoration: none;
    
}

#all-site{
    width: 100%;
}
/*section bannière*/

.banniere{
    background: url(./images/image2.jpg) no-repeat center/cover;
    width: 60%;
    height: 400px;
    margin: auto;
}
.banniere h3{
    color: white; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    font-size: 25px;
    font-weight: 80;
    line-height: 300%
    letter-spacing 0em;
    text-align: left;
    vertical-align: top;
    margin-top: 2px;
    padding-top: 14rem;
    padding-left: 40rem;
    animation: entrance 2s infinite alternate;
}

/*créer une animation bannière*/
    @keyframes entrance {
        from{
            opacity: 0;
        }
        to {
            opacity: 2;
        }
    }

/*partie corps du projet*/

.centre-site{
    width: 60%;
    margin: auto;
}
h2{
    font-family: sans-serif;
    font-size: 30px;
    letter-spacing: 0em;
    text-align: center;
    padding: 50px
}

/*créer une animation*/
    @keyframes monanimation {
      from {
          color: black;
      } 
      
      to {
          color: blue;
          transform: scale(2.2);
      }
    }

h2:hover{
    animation: monanimation 2s infinite alternate;
}

/*section programme*/

.variete{
    display: flex;
    justify-content: space-between;
    color: white;
    
}
.variete-college-lycee-universite{
    border: 1px solid #195A6E;
    background: #195A6E;
    width: 30%;
    padding: 20px;
}

/*section formation*/

.training{
    display: flex;
    justify-content: space-between;
    position: relative;
} 
.training h3{
    color: #195A6E;
}

.training-coachingscolaire-leadership{
    border: 1px solid #C4C4C4;
    padding: 30px;
    background: #C4C4C4;
    width: 40%;
}


/*section témoignages*/

.box-temoignage{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    background: #E5E5E5;
    position: relative;

}

.box-temoignage-coaches{
    width: 30%;
    border: 1px solid #C4C4C4;
    padding: 10px;
    background-color: #C4C4C4;
    border-radius: 10px;
}
   .box-temoignage-coaches-individu img{
    border-radius: 10px;
    margin: auto;
    display: block;
    height: 130px;
    width: 200px;
}
    .training h3, h4, .variete h3{
    text-align: center;
}
p{
    font-size: 18px;
}

/*section formulaire*/
    .formulaire{
    border: 1px solid #195A6E;
    width: 60%;
    margin: 0 auto;
    background-color: #195A6E ;
    margin-top: 80px;
    color: white;
    font-weight: bold;
   }
   .formulaire-identite{
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    margin-left: 90px;
    }
    .formulaire-box-surname, .formulaire-box-adresse{
        display: flex;
        justify-content: space-between;
        margin-right: 90px;
        margin-left: 90px; 
    }
    
    .formulaire-box-besoin{
        margin-right: 90px;
        margin-left: 90px; 
        
    }
    form button {
    width: 250px;
    max-width: 500px;
    height: 80px;
    font-weight: 700;
    font-size: 28px;
    background: white;
    border: rgba(48, 48, 48, 0.5) solid 1px;
    border-radius: 40px;
    color: #195A6E;
    margin-right: 350px;
    margin-left: 350px;
        
        }
    .ajuster-formulaire{
    margin-bottom: 20px;
        }

    .formulaire-titre{
    width: 19rem;
    margin-top: 5px;
    border-radius: 10px;
    padding: 4%;
}
    #formulaire-civilité{
        margin-bottom: 10px;
    }
    form input{
    width: 300px;
    padding:  15px;
    border-radius: 10px;
    }
    .formulaire-identite-hauteur{
        height: 50px;
    }
    .formulaire-box-nom{
        height: 80px;
    }
    #formulaire-email{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #formulaire-number{
        margin-top: 10px;
    }
    #message{
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;   
    }
    .formulaire-box-besoin-note{
        height: 150px;
        width: 99%;
    }
    #formulaire-prenom{
        margin-top: 10px;
    }
    #formulaire-nom{
        margin-top: 10px;
    }
    #tel{
        margin-top: 10px;
    }

 /*section localisation*/
    .localisation-conteneur-map iframe{
        width: 600px; 
        height: 290px;
    }

    .localisation-conteneur-icone-text{
        display: flex;
        justify-content: space-between;
        margin-right: 40%;
    }
    .localisation-conteneur-icone{
        padding-top: 90px;
        font-size: 60px;
        color: rgba(10, 48, 218, 0.918);

    }
    .localisation-conteneur-text{
    padding-top: 70px;
    width: 100%;
    }
    .localisation-conteneur-map-adresse{
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }
    .localisation-conteneur-adresse{

        margin-left: 3rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    }
    .localisation-conteneur-mail-number{
        font-size: 15px;
    }
    .localisation-conteneur-map-text{
        font-weight: bold;
        padding-top: 30px;
        margin-left: 30px;
    }
    .localisation-conteneur-map-adresse i{
        font-size: 50px;
        color: rgba(10, 48, 218, 0.918);
    }
    .localisation-conteneur-socialmedia-icone{
        display: flex;
        justify-content: space-between;
    }

/*section nos partenaires*/

    .partenaire-text{

    text-align: none;
    margin-right: 60%;
    padding-left: 0;
    }
    .conteneur-logo-partenaire{
        padding-bottom: 12%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .conteneur-logo-partenaire img{
        margin-top: 90px;
        margin: 1rem 0rem 1rem 0rem;
        justify-content: space-between;
    }

    .conteneur-logo-jethro img{
        padding-top: 40px;
    }
    .conteneur-logo-ciceri img{
    padding-top: 25px;
    }
    .conteneur-logo-aenms img{
        padding-top: 20px;
    }

/*section footer*/

    .AS-legal-text{
    background-color: #195A6E;
    width: 100%;
    height: 16%;
    align-items: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.39); 
    color: white;
    font-size: 20px;
    padding-bottom: 5rem;
}
    footer .AS-legal-text .container {
    display: flex;
    justify-content: space-around;
    padding-top: 5rem;
    margin-left: 10rem;
    margin-right: 10rem;
}


@media all and (max-width: 1280px) and (min-width:1102px) {
    .banniere h3{
        padding-top: 12rem;
        padding-left: 30rem;
    }
    .box-temoignage-coaches-individu img{
        width: 150px;
        height: 90px;
        }
        .localisation-conteneur-map iframe{
            width: 500px; 
            height: 260px;
        }
    .localisation-conteneur-text h2, .partenaire-text h2{
        padding-left: 0px;
    }
    .partenaire-text{
        margin-right: 50%;
    }

    form button{
        margin-left: 250px;
    }
}


@media all and (max-width:1100px) and (min-width:700px) {

    header {
    
        height: auto;
        display: inline-block;    
    }
    nav{
        margin-right: 0;
    }
    nav a{
        margin-left: 5%;
    }
/*section bannière*/
     .banniere{
        width: 100%;
        height: 300px;
    }

    .banniere h3{
        font-size: 20px;
        margin-top: 2px;
        padding-top: 10rem;
        padding-left: 35rem;
    }

/*section formulaire*/
   
    .formulaire-identite, .formulaire-box-surname, .formulaire-box-adresse, .formulaire-box-besoin{
    margin-right: 20px;
    margin-left: 20px;
    flex-wrap: wrap;
    }

    .formulaire-identite-hauteur{
        margin-bottom: 30px;
    }
   
    form button {
        margin-left: 30px;
   }

/*localisation*/
  
    .localisation-conteneur-map-adresse{
        display: inline-block;
    }

    .localisation-conteneur-map iframe{
        width: 550px; 
        height: 290px;
    }
    .partenaire-text{
        margin-right: 52%;
        }
        .localisation-conteneur-icone-text{
        margin-right: 30%;
    }
    .conteneur-logo-partenaire{
        width: 60%;
    }
    .formulaire-box-besoin-note{
        width: 88%;
    }
    .box-temoignage-coaches-individu img{
    width: 150px;
    }
/*section programme*/

     .variete-college-lycee-universite{
        width: 25%;
        padding: 10px;
    }

 /*section formation*/

    .training-coachingscolaire-leadership{
        padding: 10px;
        width: 40%;
    }

    
/*section témoignage*/

    .box-temoignage-coaches{
        width: 26%;
        border: 1px solid #C4C4C4;
        padding: 10px;
    }
    .box-temoignage-coaches-individu img{
        width: 60px;
        height: 40px;
        }

        .container {
            flex-wrap: wrap;
            padding-top: 5rem;
            margin-left: 10rem;
            margin-right: 10rem;
        }
}


@media all and (max-width:699px) {

/*section header*/

    
    nav{
        margin: auto;
    }
   
    .logo-AS{
        margin-left: 5px;
        margin-left: 5px;
    }
    nav a{
        margin-left: 5%;
        font-size: small;
        display: inline-block;
    }

/*section bannière*/

    .banniere{
        background: url(./images/image2.jpg) no-repeat center/cover;
        width: 100%;
        height: 250px;
    }

    .banniere h3{
        font-size: 10px;
        padding-top: 2rem;
        padding-left: 0rem;
    }

    p{
        font-size: small;
    }  
     h2{
        font-size: 15px;
        padding: 30px
    }


/*section programme*/

    .variete{
        display: inline-block;
        
    }

    .variete-college-lycee-universite{
        width: 100%;
        padding: 30px;
        margin-bottom: 15px;
    }

/*section formation*/

    .training{
        display: inline-block;
    }

    .training-coachingscolaire-leadership{
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    
/*section témoignage*/

    .box-temoignage{
        display: inline-block;
    }
    .box-temoignage-coaches{
        width: 100%;
        margin-bottom: 15px;
        border: 1px solid #C4C4C4;
        padding: 30px;
    }
    .box-temoignage-coaches-individu img{
        width: 60px;
        height: 40px;
        }


/*section formulaire*/

   
    .formulaire-titre{
        width: 9rem;
    }

    .formulaire-identite-hauteur{
        margin-bottom: 30px;
    }
    form input{
        width: 9rem;
        padding: 8px;
    }
    .formulaire-box-besoin-note{
        width:80% ;
    }
  
    .formulaire-identite, .formulaire-box-surname, .formulaire-box-adresse, .formulaire-box-besoin{
        flex-wrap: wrap;
        margin-right: 0;
        margin-left: 0;
        margin: 30px;
    }


    form button {
        width: 130px;
        margin: 20px;
        height: 40px;
        font-size: 15px;
   }

/*localisation*/

    .localisation-conteneur-map-adresse{
        display: inline-block;
    }
    .localisation-conteneur-map iframe{
        width: 230px; 
        height: 200px;
    }

    .localisation-conteneur-adresse{
        margin-left: 1rem;
        margin-top: 1rem
    }

    .localisation-conteneur-map-text{
        margin-left: 5px;
    }
    .localisation-conteneur-icone{
        padding-top: 30px;
        font-size: 40px;
    }
    
    .localisation-conteneur-text{
    padding-top: 10px;
    width: 100%;
    }
    
   
/*section partenaire*/
    .partenaire-text{
        margin-right: 52%;
        }
    .conteneur-logo-partenaire{
        width: 50%;
    }
    .conteneur-logo-cosco img{
        width: 80%;
    }
    .container {
        flex-wrap: wrap;
        width: 30%;
       
    }
    footer .AS-legal-text .container{
         margin-left: 6rem;
    }
}

